<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>hello</h1>

    <% for(var i=0;i<menu.length;i++){ %>

        <p><%=menu[i].name%></p>

    <%}%>
</body>
</html>
<script src="js/jquery-1.11.2.min.js"></script>
<script>

    $.ajax({
        url : "/api",
        success : function (response) {
            console.log(response)
        },
        error : function (error) {
            console.log(error)
        }
    })

</script>