<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"><!--强制让文档与设备的宽度保持1：1-->
<!--注意：实际测试中发现，HTC G7自身系统浏览器不支持这一条规则，能够对页面进行放大，一旦放大响应的box也随之放大，导致俄页面出现错乱问题，解决方法：定义页面的最小宽度 min-width,body{min-width: 300px;}-->
<meta name="apple-mobile-web-app-capable" content="yes" /><!--网站开启对web app程序的支持-->
<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!--在web app应用下状态条（屏幕顶部条）的颜色-->
<meta content="telephone=no" name="format-detection" /><!--则手机号码不被显示为拨号链接-->
<title>订单完成页</title>
<!--样式表-->
<link type="text/css" rel="stylesheet" href="css/base.css">
<link type="text/css" rel="stylesheet" href="css/index.css">
<link type="text/css" rel="stylesheet" href="css/media.css">
</head>
<body>
	<div class="content">
        <h3 class="header_h3 tc f18 fb"><a class="out_a fl pl15 f20 pr20" href="#">&lt;</a>订单完成页</h3>
        <div class="layerDiv">
			<div class="boxCon clearfix backgroundFFFFFF" style="display:none;"><!--成功状态-->
                <dl class="boxCon_spDl clearfix m10 orderDl order_XqDl">
                    <dd class="f13 lineH180">
                        <div>
                            <h4 class="colorcc0000 f16 fb">订单提交成功</h4>
                            <p class="txh f15">订单号：2016012110013</p>
                            <p class="f15">支付总额：<span class="colorcc0000">￥368</span></p>
                            <p class="f15">下单时间：2016-01-21</p>
                            <p class="f15">支付方式：积分</p>
                         </div> 
                    </dd>
                </dl>
            </div>
            <div class="boxCon clearfix backgroundFFFFFF"><!--失败状态-->
                <dl class="boxCon_spDl clearfix m10 orderDl order_XqDl">
                    <dd class="f13 lineH180">
                        <div>
                            <h4 class="colorcc0000 f16 fb">订单提交失败</h4>
                            <p class="mt10">您的积分不足</p>
                         </div> 
                    </dd>
                </dl>
            </div>
            
            <a class="putA dis_biock tc f15 colorfff" href="#">继续购物</a>
        </div>
        <!-- layerDiv end -->

        
        
		<div class="footer w100">
            <p class="footer_p"><a class="footer_p_a" href="#"><span class="footSpan_a"></span>首页</a></p>
            <p class="footer_p"><a class="footer_p_a" href="#"><span class="footSpan_b"></span>搜索</a></p>
            <p class="footer_p"><a class="footer_p_a" href="#"><span class="footSpan_c"><em class="calrEm">0</em></span>购物车</a></p>
            <p class="footer_p"><a class="footer_p_a" href="#"><span class="footSpan_d"></span>我的</a></p>
        </div> 
        <!-- footer end -->       
	</div>
    <!-- content end -->
</body>
</html>
