body,h3,h4,h5,ul,li,ol,p,img{
  margin: 0;
  padding: 0;
  list-style: none;
}
html{
  height:100%;
}
body{
  height:100%;
  font-size: 0.16rem;
  line-height:0.3rem;
  display: flex;
  flex-direction: column;
}
$w:4.8rem;
.head{
  width:$w;
  height:2.49rem;
}
.box{
  height:0;
  flex-grow:1;
  overflow: hidden;
  .con{
    min-height:101%;
    &>img{
      width:$w;
      height:0.98rem;
    }
    .top{
      height:1.7rem;
      ul{
        padding:0.2rem 0;
        display: flex;
        justify-content:space-around;
        flex-wrap:wrap;
        li{
          text-align: center;
          width:25%;
          height:0.8rem;
          img{
            width:0.34rem;
            height:0.26rem;
            display: block;
            margin:0 auto;
          }
          a{
            text-decoration: none;
            font-size: 0.16rem;
            color: #000;
            font-weight:bolder;
            line-height:0.5rem;
          }
        }
      }
    }
  }
}