<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"><!--强制让文档与设备的宽度保持1：1-->
<!--注意：实际测试中发现，HTC G7自身系统浏览器不支持这一条规则，能够对页面进行放大，一旦放大响应的box也随之放大，导致俄页面出现错乱问题，解决方法：定义页面的最小宽度 min-width,body{min-width: 300px;}-->
<meta name="apple-mobile-web-app-capable" content="yes" /><!--网站开启对web app程序的支持-->
<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!--在web app应用下状态条（屏幕顶部条）的颜色-->
<meta content="telephone=no" name="format-detection" /><!--则手机号码不被显示为拨号链接-->
<title>收货地址</title>
<!--样式表-->
<link type="text/css" rel="stylesheet" href="css/base.css">
<link type="text/css" rel="stylesheet" href="css/index.css">
<link type="text/css" rel="stylesheet" href="css/media.css">
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/dZaddress.js"></script>
</head>
<body>
	<div class="content">
        <h3 class="header_h3 tc f18 fb"><a class="out_a fl pl15 f20 pr20" href="#">&lt;</a>收货地址</h3>
        <div id="add_ress1" class="boxCon clearfix backgroundFFFFFF m15">
            <p class="p10 f13 lineH180">王克颍， 13052565575，上海 上海市 闸北区 芷江西路街道 南山路98号上海祥先实业有限公司 ，000000 </p>
            <div class="clearfix pl10 pr10 pb10">
            	<label id="defaultLab1" class="fl curaor_pointer">
                    <input class="radioInp fl mt3" type="radio" name="radio" value="1" checked="checked">
                    <span class="radioSpan fl f14 pl5">配送到这个地址</span>
                </label>
            	<a id="dzDele1" class="strike thD fr" href="javascript:void(0)">删除</a>
            </div>
        </div>
        <!-- boxCon end -->
        <div id="add_ress2" class="boxCon clearfix backgroundFFFFFF m15">
            <p class="p10 f13 lineH180">王克颍， 13052565575，上海 上海市 闸北区 芷江西路街道 南山路98号上海祥先实业有限公司 ，000000 </p>
            <div class="clearfix pl10 pr10 pb10">
            	<label id="defaultLab2" class="fl curaor_pointer">
                    <input class="radioInp fl mt3" type="radio" name="radio" value="2">
                    <span class="radioSpan fl f14 pl5">配送到这个地址</span>
                </label>
            	<a id="dzDele2" class="strike thD fr" href="javascript:void(0)">删除</a>
            </div>
        </div>
        <!-- boxCon end -->
        <div id="add_ress3" class="boxCon clearfix backgroundFFFFFF m15">
            <p class="p10 f13 lineH180">王克颍， 13052565575，上海 上海市 闸北区 芷江西路街道 南山路98号上海祥先实业有限公司</p>
            <div class="clearfix pl10 pr10 pb10">
            	<label id="defaultLab3" class="fl curaor_pointer">
                    <input class="radioInp fl mt3" type="radio" name="radio" value="3">
                    <span class="radioSpan fl f14 pl5">配送到这个地址</span>
                </label>
            	<a id="dzDele3" class="strike thD fr" href="javascript:void(0)">删除</a>
            </div>
        </div>
        <!-- boxCon end -->
        
        
        <div class="stateDiv clearfix m15 f15">
            <div class="fl">
                <a class="redBut dis_biock tc mr5" href="#">返回继续购物</a>
            </div>
            <div class="fl">
                <a class="grayBut dis_biock tc ml5" href="#">添加收货地址</a>
            </div>
         </div> 
		<div class="footer w100">
            <p class="footer_p"><a class="footer_p_a" href="#"><span class="footSpan_a"></span>首页</a></p>
            <p class="footer_p"><a class="footer_p_a" href="#"><span class="footSpan_b"></span>搜索</a></p>
            <p class="footer_p"><a class="footer_p_a" href="#"><span class="footSpan_c"><em class="calrEm">0</em></span>购物车</a></p>
            <p class="footer_p"><a class="footer_p_a" href="#"><span class="footSpan_d"></span>我的</a></p>
        </div> 
        <!-- footer end -->       
	</div>
    <!-- content end -->
</body>
</html>
